@media (min-width:100px) and (max-width: 481px) {
    .container__nav {
        height: auto;
    }
    .menu-button {
        margin: 2vh 10vh 2vh 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50px;
        height: 46px;
        padding: 10px;
        border-radius: 7px;
        background:#171717;
        cursor: pointer;
        
    }
    .menu-button span {
        width: 30px;
        height: 4px;
        background: #fafafa;
    }
    .menu-toggle {
        display: none;
    }
    .toggle {
        display: none;
        text-align: center;
        background: #171717;
        border-radius: 7px;
        padding: 10px;
        width: 100px;
        margin: 10px auto;
    }
    
    .toggle li {
        list-style: none;
        display: block;
        padding: 10px 0;
        color: #fafafa;
        font-size: 15px;
    }
    .menu-toggle:checked + .toggle {
        display: block;
        position: fixed;
        top: 5em;
        right: 6em;
        bottom: 0;
        height: 20em;
    }
    .container__hero {
        height: 700px;
    }
    .container__main{
        margin: auto;
        gap: 80px;
    }
    .container__main > iframe {
        width: 200px;
        height: 200px;
    }
    .container__main > h1 {
        font-size: 32px;
        color: #fafafa;
        font-weight: 600;
    }
    .container__main > button {
        width: 90%;
        height: 30%;
        font-size: 20px;
        
    }
    .container__about__us {
        margin-top: 400px;
        flex-direction: column;
        width: 400px;
        height: 400px;
        gap: 30px;
        margin-bottom: 300px;
    }
    .informacion {
        font-size: 20px;
        overflow: hidden;
        margin-left: 20px;
        height: auto;
        word-wrap:break-word;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .informacion > p {
        width: 350px;
    }
    .about__us {
        width: auto;
    }
    .mapa {
        
        width: 300px;
        height: 300px;
    }
    .container__cards {
        width: 20em;
        height: 80em;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 3em;
        padding: 0;
        gap: 5em;
    }
    .first__card {
        width: 15em;
        height: 20em;
        background-color:white;
        
        flex-direction: column;
        gap: 10px;
        margin-left: 0
    }
    .logo__correr {
        width: 8em;
        height: 8em;
    }
    .logo__mancuerna {
        width: 8em;
        height: 8em;
    }
    .logo__pecho {
        width: 8em;
        height: 8em;
    }
 }


 @media  (min-width:701px) and (max-width:961px) {

.menu-button {
    margin: 2vh 10vh 2vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50px;
    height: 46px;
    padding: 10px;
    border-radius: 7px;
    background:#171717;
    cursor: pointer;
    
}
.menu-button span {
    width: 30px;
    height: 4px;
    background: #fafafa;
}
.menu-toggle {
    display: none;
}
.toggle {
    display: none;
    text-align: center;
    background: #171717;
    border-radius: 7px;
    padding: 10px;
    width: 100px;
    margin: 10px auto;
}

.toggle li {
    list-style: none;
    display: block;
    padding: 10px 0;
    color: #fafafa;
    font-size: 15px;
}
.menu-toggle:checked + .toggle {
    display: block;
    position: fixed;
    top: 5em;
    right: 6em;
    bottom: 0;
    height: 20em;
}
    .container__hero {
        height: 900px;
    }
    .container__main{
        margin: auto;
        gap: 80px;
    }
    .container__main > iframe {
        width: 200px;
        height: 200px;
    }
    .container__main > h1 {
        font-size: 32px;
        color: #fafafa;
        font-weight: 600;
    }
    .container__main > button {
        width: 300;
        height: 100px;
        font-size: 20px;
    }
    .container__about__us {
        margin-top: 400px;
        flex-direction: column;
        width: 20em;
        margin-left: 30px;
        height: 400px;
        gap: 30px;
        justify-content: center;
        align-items: center;
        margin-bottom: 300px;
    }
    .informacion {
        font-size: 20px;
        overflow: hidden;
        margin-left: 20px;
        height: auto;
        word-wrap:break-word;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .informacion > p {
        width: 350px;
    }
    .about__us {
        width: auto;
    }
    .mapa {
        
        width: 300px;
        height: 300px;
    }
    .container__cards {
        margin-left: 1em;
        flex-direction: column;
        width: 22em;
        height: 1400px;
        align-items: center;
        justify-content: space-around;
        gap: 50px;
    }
    .first__card {
        width: 300px;
        height: 400px;
        background-color:white;
        max-width: 481px;
        flex-direction: column;
        gap: 10px;
        margin-left: 0
    }
}
 
 @media (min-width:482px ) and (max-width:700px){
    .body{
        padding: 0 4rem;
    }
    .menu-button {
        margin: 2vh 10vh 2vh 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50px;
        height: 46px;
        padding: 10px;
        border-radius: 7px;
        background:#171717;
        cursor: pointer;
        
    }
    .menu-button span {
        width: 30px;
        height: 4px;
        background: #fafafa;
    }
    .menu-toggle {
        display: none;
    }
    .toggle {
        display: none;
        text-align: center;
        background: #171717;
        border-radius: 7px;
        padding: 20px;
        width: 150px;
        margin: 10px auto;
    }
    
    .toggle li {
        list-style: none;
        display: block;
        padding: 10px 0;
        color: #fafafa;
        font-size: 15px;
    }
    .menu-toggle:checked + .toggle {
        display: block;
        position: fixed;
        top: 5em;
        right: 6em;
        bottom: 0;
        height: 20em;
    }
    .contact__form {
        display: flex;
        flex-direction: column;
    }
    .contact__form > * {
        padding: 2em;
    }
    .contact__info h4,
    .contact__info ul,
    .contact__info p {
        padding: 1em;
        text-align: left;
    }
    .container__cards {
        width: 25em;
    }
    .container__main > button {
        width: 15em;
    }
    .container__cards {
        width: 20em;
        height: 80em;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 1em;
        padding: 0;
        gap: 5em;
    }
    .first__card {
        width: 15em;
        height: 20em;
        background-color:white;
        
        flex-direction: column;
        gap: 10px;
        margin-left: 0
    }
    .logo__correr {
        width: 8em;
        height: 8em;
    }
    .logo__mancuerna {
        width: 8em;
        height: 8em;
    }
    .logo__pecho {
        width: 8em;
        height: 8em;
    }
    .container__about__us {
        margin-top: 30em;
        flex-direction: column;
        width: 400px;
        height: 400px;
        gap: 30px;
        margin-bottom: 300px;
    }
    .informacion {
        font-size: 20px;
        overflow: hidden;
        margin-left: 20px;
        height: auto;
        word-wrap:break-word;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .informacion > p {
        width: 350px;
    }
    .about__us {
        width: auto;
    }
    .mapa {
        width: 20em;
        margin-left: 0;
    }
}
@media (min-width:930px ) and (max-width:1400px) {
    .container__nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
     }    
    .toggle {
        margin-left: 40%;
    }
    .container__about__us {
        margin-top: 6em;
        width: 600px;
        gap: 1em;
        margin-left: 4em;
        flex-direction: column;
    }
    .informacion > p {
        font-size: 16px;
    }
    .about__us  {
        width: 400px;
        gap: 5px;
        margin-left: 20px;
    }
    .informacion {
        gap: 3px;
    }
    .container__cards {
        width: 55em;
        height: 50em;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8em;
        margin-left: 0;
        justify-content: center;
    align-items: center;
    }
    .first__card{
        width:14em;
        height: 20em;
        margin-top: -4em;
     }
     .logo__correr {
        width: 8em;
        height: 8em;
    }
    .logo__mancuerna {
        width: 8em;
        height: 8em;
    }
    .logo__pecho {
        width: 8em;
        height: 8em;
    }
}
@media (min-width:1401px ) {
    .container__cards{
    margin-left: 5em;  
    padding: 1.7em;
    }
    .container__about__us {
        margin-left: 3em; 
        flex-direction: column;
        margin-top: 12em;
        padding: 3em;
    }
    .about__us{
        width: 40em;
        margin-left: 10em;
    }
    .mapas {
        width: 1em;
        margin-right: 25em;
    }
    .container__cards {
        margin-left: 5em;
    }
    .opciones {
        margin-top: 5em;
    }
}
